doctype html 
html
  head
    title Sam's Dance Academy
    block scripts
    block style
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
  body
    block nav
    block content
    footer 
        div.foot-container
          div.foot-contact
            div.inner-contact
              i.fas.fa-map-marker-alt
              div.text
                h3 Find Us
                span 1536 Kerley Dr, San Jose, California(CA), 95112
            div.inner-contact
              i.fas.fa-phone
              div.text
                h3 Call Us
                span (408) 217-8718
            div.inner-contact
              i.far.fa-envelope-open
              div.text
                h3 Mail us 
                span mail@info.com
          div.follow
            h3 Follow Us!
            div.social-links
              a(href='https://www.facebook.com/')
                i.fab.fa-facebook-f
              a(href='https://twitter.com/')
                i.fab.fa-twitter
              a(href='https://www.instagram.com/')
                i.fab.fa-instagram
              a(href='https://www.linkedin.com/')
                i.fab.fa-linkedin-in
        div.foot
          | Copyright © 2023 SamDanceAcademy | All rights reserved